name: Test Project
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install Nodejs
        uses: actions/checkout@
        with:
          node-version: 18
      - name: Install Dependencies
        runs: npm ci
      - name: Run Test
        runs: npm test
